{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<h1>Delete Product</h1>

<p>Are you sure?</p>

<form method="post">
  <button>Yes</button>
  <a href="{{ path('products_show', {id}) }}">No</a>
</form>

{% endblock %}
